.env

/flood-segmentation/data/*/
/flood-segmentation/versions/**
!/flood-segmentation/versions/example
!/flood-segmentation/versions/example/**


*/.ipynb_checkpoints/
*/.vscode/
*/.idea/
*/.git/
*/.gitignore
*/.DS_Store

output/
sentinel-downloader/*.json

*/dist/
/build/
*.egg-info/
*.onnx
/env

save

__pycache__/

/stats/*.tif

# Ignore everything in the stats/data folder
/stats/data/**
/mask-aug/test_images/**

# Un-ignore specific subdirectories
!/stats/data/canoas
!/stats/data/canoas/**
!/stats/data/canoas_no_flood
!/stats/data/canoas_no_flood/**
!/stats/data/output_canoas
!/stats/data/output_canoas/**
!/stats/data/output_canoas_no_flood
!/stats/data/output_canoas_no_flood/**/
!/stats/data/output_canoas_improved/
!/stats/data/output_canoas_improved/**/
!/stats/data/output_canoas_final/
!/stats/data/output_canoas_final/**/
!/stats/data/canoas_s2/
!/stats/data/canoas_s2/**/
!/stats/data/canoas_s2_no_flood/
!/stats/data/canoas_s2_no_flood/**/

!/mask-aug/test_images/masks_porto_alegre_s1
!/mask-aug/test_images/masks_porto_alegre_s1/**
!/mask-aug/test_images/masks_porto_alegre_s1_preflood
!/mask-aug/test_images/masks_porto_alegre_s1_preflood/**
!/mask-aug/test_images/porto_alegre_s1
!/mask-aug/test_images/porto_alegre_s1/**
!/mask-aug/test_images/porto_alegre_s1_preflood
!/mask-aug/test_images/porto_alegre_s1_preflood/**
!/mask-aug/test_images/porto_alegre_s2
!/mask-aug/test_images/porto_alegre_s2/**
!/mask-aug/test_images/porto_alegre_s2_preflood
!/mask-aug/test_images/porto_alegre_s2_preflood/**

.ipynb_checkpoints

config.json
ee.json