.env

/flood-segmentation/flood_data/*/
/flood-segmentation/tao_project
*.onnx
/env

save

__pycache__/

/stats/*.tif

# Ignore everything in the stats/data folder
/stats/data/**

# Un-ignore specific subdirectories
!/stats/data/canoas
!/stats/data/canoas/**
!/stats/data/canoas_no_flood
!/stats/data/canoas_no_flood/**
!/stats/data/output_canoas
!/stats/data/output_canoas/**
!/stats/data/output_canoas_no_flood
!/stats/data/output_canoas_no_flood/**
