.env
/flood-segmentation/flood_data/*/
/flood-segmentation/tao_project
env/

__pycache__
*/.ipynb_checkpoints/
*/.vscode/
*/.idea/
*/.git/
*/.gitignore
*/.DS_Store

output/
sentinel-downloader/*.json

*/dist/
/build/
*.egg-info/
